@model HFCWebAdmin.Models.ShoppingList

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

    <div>
        <h2>Details</h2>
        <h4>Shopping List</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ShoppingItems.ShoppingListID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ShoppingItems.ShoppingListID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsPublished)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsPublished)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Enabled)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Enabled)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateFrom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateFrom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateTo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateTo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdatedAt)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
