@model IEnumerable<HFCWebAdmin.Models.ShoppingItem>

@{
    ViewBag.Title = "Shopping Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Shopping Items</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingList.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingListID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PantryItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyOnHand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyPromissed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingList.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingListID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PantryItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyOnHand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyPromissed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
