@model IEnumerable<HFCWebAdmin.Models.PersonalShoppingItem>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Personal Shopping Items";
}

<h2>Personal Shopping Items</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingList.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalShoppingListID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PantryItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyDelivered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyPurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDelivered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingList.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalShoppingListID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PantryItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyPurchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePurchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
